/* .container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
} */
.poke-image{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
.img-box{
    background-color: pink;
    width: 100%;
}
.time-box{
    background-color: rgb(9, 240, 209);
}